@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(193, 255, 234);
    color: rgb(0, 55, 20);
}
/* Testing */
article, button { 
    background-color: rgb(255, 255, 255);
}